footer {
    background-color: black;
    color: white;
    padding: 20px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .footer p {
    margin: 10px;
  }
  .footer a{
    margin: 10px;
    color: white;
    text-decoration: none;
  }
  