table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    vertical-align:middle;
  }
  .td1{
    background: linear-gradient(pink, white);
  }
  .td2{
    background: linear-gradient(greenyellow, white);
  }
  h3 {
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .img1 {
    border: 60px groove greenyellow;
  }
  .img2 {
    border: 60px outset red;
  }
  .button {
    text-align: center;
    margin-top: 20px;
  }