body {
  margin: 0;
  background: rgba(205,252,159,1);
}

#container {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
  border: unset;
  border-radius: 10px;
  width: 500px;
  height: 750px;
  background-color: rgb(195, 230, 196);
}

#peso::-webkit-inner-spin-button,
#peso::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#altura::-webkit-inner-spin-button,
#altura::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div form div{
  text-align: center;
}
div form div label{
  font-family: Abel;
  font-weight: bold;
}
div form div input{
  background: rgba(255,255,255,0.41999998688697815);
  border-radius: 10px;
  border: unset;
  text-align: center;
  padding: 10px;
  width: 90%;
}
#envio{
  background: rgba(17,233,78,0.6200000047683716);
  border: 0;
  border-radius: 0  0 10px 10px;
  height: 50px;
} 
