.container {
  display: flex;
  height: 100vh;
}
.contenido1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(to right, #f2994a, #f2c94c);
}
h3 {
  text-align: center;
}
.contenido1 p {
  text-align: center;
}
.con1{
  margin: 0 auto;
}
.con1 {
  width: 25em;
  height: 76vh;
  overflow: auto;
  border: 1px solid;
}
.con1 ul {
  list-style-type: none;
  padding: 0 0 0 1em;
}
.con1 ul li {
  border-bottom: 1px solid;
  margin-right: 1em;
  margin-bottom: 1em;
}
.con1 a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.con1 p {
  margin: 5px;
}
.contenido2 {
  display: flex;
  flex: 2;
}
.my-vals {
  flex: 1;
  padding: 0 1em 0 1em;
  background: linear-gradient(to right, #fffc00, #ffffff);
}
.v-content {
  overflow: auto;
  max-height: 75%;
}
.v-content ul {
  padding: 0;
}
.v-content li {
  display: flex;
  list-style: none;
  margin: 0.5em 0;
  border-bottom: 1px solid;
  justify-content: space-between;
}
.options {
  display: flex;
  gap: 10px;
}
.v-content span {
  font-weight: bold;
}
.v-content form {
  border-top: 1px solid black;
}
.v-content a {
  font-weight: bold;
  text-decoration: none;
  color: #0000ee;
}
input[type="number"] {
  width: 15%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.valoraciones {
  flex: 2;
  background: linear-gradient(to right, #a8ff78, #78ffd6);
}
.topten_valoraciones table {
  width: 100%;
}
.topten_valoraciones h3 {
  text-align: center;
}
.topten_valoraciones td {
  text-align: center;
}
.topten_valoraciones thead {
  background-color: #11e94e99;
}
canvas {
  max-height: 50vh;
}